.Topbar {
    display: inline-block;
    background: white;
    padding: 0 0.6rem;
    width: 100%;
    height: 2rem;
    ul {
      height: 100%;
      width: 100%;
      li {
        cursor: pointer;
        span {
          margin: 0 0.4rem;
        }
      }
    }
  }